.blogtext {
	font-size: 12px !important;
	font-family: Calibri !important;
}

.menubarnorthbimage {
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
}

.menubarnorthtext {
	font-family: Calibri !important;
	font-size: 12px !important;
}